<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{logistics/fragment_ojh :: head ('receiveReserveForm')}"></head>

<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">smart factory project</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{logistics/fragment_ojh :: nav}"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">물건 재고 목록</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar" class="align-text-bottom"></span>
                        This week
                    </button>
                </div>
            </div>
            <div class="table-responsive w-75">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th style="width: 7%" scope="col">물건 id</th>
                        <th style="width: 12%" scope="col">물건명</th>
                        <th style="width: 7%" scope="col">총 재고량</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${storedItems}">
                            <td th:text="${item.id}">1111</td>
                            <td th:text="${item.name}">thymeleaf 안 돌아간 물건</td>
                            <td th:text="${item.amount}">0022</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>


<div th:replace="~{logistics/fragment_ojh :: bottomScript}"></div>

</body>
</html>
