<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base_form :: layout ('Factory Management', 'production', ~{::section})}"
      lang="ko">
<head>
  <title>index</title>
</head>
<body>

<section>
  <h3>Yay</h3>
  Factory Connection:<span id="factoryConnection" th:text="${factoryConnectionState}"></span><br/>
  Factory Operation:<span id="factoryOperation" th:text="${factoryOperationState}"></span><br/>
  <button onclick="doStartupFactory()">StartUp</button><br/>
  <button onclick="doPauseFactory()">Pause</button><br/>
  <button onclick="doShutdownFactory()">ShutDown</button><br/><br/><br/>
  <button onclick="location.href ='/production'">목록으로</button>

</section>

</body>
</html>