<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base_form :: layout ('Machine Detail : '+${machineData.name}, 'production', ~{::section})}"
      lang="ko">
<head>
  <title>index</title>
</head>
<body>
<section>
  <div class = "d-sm-flex flex-sm-wrap flex-sm-row vh-60">
    <div class="w-50 float-md-start col-6">
      <canvas class="w-100 h-100" id="productionChart" width="700" height="500"></canvas>
    </div>
    <div class="w-auto float-md-start col-6">
    <table class="table table-bordered mh-100">
      <tbody>
      <tr>
        <th>Machine Id</th>
        <td><span th:id="'id_'+${machineData.machineId}" th:text="${machineData.machineId}"></span></td>
        <th>Machine Name</th>
        <td><span th:text="${machineData.name}"></span></td>
      </tr>
      <tr>
        <th>Operation State</th>
        <td><span th:id="'mdstate_'+${machineData.machineId}" th:text="${machineData.state}"></span></td>
        <th>Fatal State</th>
        <td><span th:id="'mdfatal_'+${machineData.machineId}" th:text="${machineData.fatal}"></span></td>
      </tr>
      <tr>
        <th>Max Value</th>
        <td><span th:text="${machineData.max}"></span></td>
        <th>Min Value</th>
        <td><span th:text="${machineData.min}"></span></td>
      </tr>
      <tr>
        <th colspan="2">Remain Stock / Max Stock</th>
        <td colspan="2"><span th:id="'mdstock_'+${machineData.machineId}" th:text="${machineData.stock}+'/'+${machineData.maxStock}"></span></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div>
  <h6 class="h5">Description</h6>
  <textarea class="form-control col-sm-5" rows="3" th:text="${machineData.description}" readonly></textarea><br/>

  <button type="button" class="btn btn-sm btn-outline-dark" th:onclick="doRunMachine([[${machineData.machineId}]])">가동</button>
  <button type="button" class="btn btn-sm btn-outline-dark" th:onclick="doStopMachine([[${machineData.machineId}]])">정지</button>
  <button type="button" class="btn btn-sm btn-outline-dark" th:onclick="popup([[${machineData.machineId}]])">재고 추가</button>
  <button type="button" class="btn btn-sm btn-outline-danger" th:onclick="doDelMachine([[${machineData.machineId}]])">제거</button><br/>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  <script th:inline="javascript" >
    /*<![CDATA[*/
    let myChart1;
(() => {
  // Graphs
  const ctx1 = document.getElementById('productionChart');
  // eslint-disable-next-line no-unused-vars
  myChart1 = new Chart(ctx1, {
    type: 'line',
    data: {
      label: /*[[${sType}]]*/,
      labels: /*[[${gIds}]]*/,
      datasets: [{
        data: /*[[${gValues}]]*/,
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#0000ff',
        borderWidth: 4,
        pointBackgroundColor: '#00ff00'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      },
      legend: {
        display: false
      }
    }
  })
})()
  /*]]>*/
  </script>
  <script>
    const sse = new EventSource(window.location.protocol+"//"+window.location.host+"/sse/connect");

    sse.addEventListener('connect', (e) => {
	  const { data: receivedConnectData } = e;
	  console.log('connect event data: ',receivedConnectData);
    });
    sse.addEventListener('called', e => {
      const { data: receiveData } = e;
      console.log("event data",receiveData);

    });
    //Machine Detail state
    sse.addEventListener('mdstate', e => {
      const { data: receiveData } = e;
      console.log("server event data",receiveData);
      let updateData = receiveData.split(':');
      let target = document.getElementById('mdstate_'+updateData[0]);
      if(target!= null){
          target.innerText=updateData[1];
      }
    });
    sse.addEventListener('mdfatal', e => {
      const { data: receiveData } = e;
      console.log("server event data",receiveData);
      let updateData = receiveData.split(':');
      let target = document.getElementById('mdfatal_'+updateData[0]);
      if(target!= null){
          target.innerText=updateData[1];
      }
    });
    sse.addEventListener('updateGraph',e=>{
      const { data: receiveData } = e;
      console.log("server event data",receiveData);
      let updateData = receiveData.split(':');

      let target = document.getElementById('id_'+updateData[0]);
      if(target!= null){
        myChart1.data.labels = updateData[1].split(',');
        myChart1.data.datasets[0].data = updateData[2].split(',');

        myChart1.update('none');
      }
    });
    sse.addEventListener('mdstock',e=>{
      const { data: receiveData } = e;
      console.log("server event data",receiveData);
      let updateData = receiveData.split(':');

      let target = document.getElementById('id_'+updateData[0]);
      if(target!= null){
          let stock = document.getElementById('mdstock_'+updateData[0]);
          stock.innerText=updateData[1];
      }
    });
    function popup(mid){
      var url  = "/production/stock-add/"+mid;
      var name = "Add Stock";
      var option = "width = 400, height = 500, top= 100, left = 200, location = no";
      window.open(url, name, option);
    }
  </script>
</section>

</body>
</html>