<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout (~{::title}, '요약', 'stub 작동', '데이터 삭제', ~{::section})}"
      lang="ko">
<head>
  <title>index</title>
</head>
<body>

<section>
  <h1>Machine List Overview</h1>
  Factory Connection:<span th:text="${factoryConnectionState}"></span></br>
  Factory Operation:<span th:text="${factoryOperationState}"></span></br>
  Machine List:</br>

  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">McId</th>
        <th scope="col">McName</th>
        <th scope="col">Value</th>
        <th scope="col">State</th>
        <th scope="col">Fatal</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="e : ${list}">
        <td><span th:text="${e.mid}"></span></td>
        <td><a th:href="'/production/machineDetail/'+${e.mid}" th:text="${e.name}"></a></td>
        <td>Temporary Value</td>
        <td><span th:text="${e.state}"></span></td>
        <td><span th:text="${e.fatal}"></span></td>
      </tr>
      </tbody>
    </table>
    <nav th:with="
                    pageNumber = ${list.pageable.pageNumber},
                    pageSize = ${list.pageable.pageSize},
                    totalPages = ${list.totalPages},
                    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                    tempEndPage = ${startPage + pageSize - 1},
                    endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})" aria-label="Page navigation">

      <ul class="pagination ">
        <!-- 처음으로 이동 -->
        <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/production(page=0)}">
            <span class="sr-only">First</span>
          </a>
        </li>

        <!-- 이전으로 이동 -->
        <li th:classappend="${list.first} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${list.first} ? '#' : @{/production(page=${pageNumber - 1})}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>

        <!-- 특정 페이지로 이동 -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
          <a th:text="${page}" class="page-link" th:href="@{/production(page=${page - 1})}"></a>
        </li>

        <!-- 다음으로 이동 -->
        <li th:classappend="${list.last} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${list.last} ? '#' : @{/production(page=${pageNumber + 1})}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>

        <!-- 마지막으로 이동 -->
        <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 < endPage} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/production(page=${totalPages - 1})}">
            <span class="sr-only">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <a href="/production/factoryManagement">공장 관리</a></br>
  <a href="/production/machineRegistration">기계 등록</a></br>

</section>

</body>
</html>