<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base_paging :: layout ('Machine List Overview', 'production', ~{::section})}"
      lang="ko">
<head>
  <title>index</title>
</head>
<body>


<section>

  <script>
    const sse = new EventSource(window.location.protocol+"//"+window.location.host+"/sse/connect");

    sse.addEventListener('connect', (e) => {
	  const { data: receivedConnectData } = e;
	  console.log('connect event data: ',receivedConnectData);
    });
    sse.addEventListener('called', e => {
      const { data: receiveData } = e;
      console.log("event data",receiveData);

    });
  </script>
  Factory Connection:<span th:text="${factoryConnectionState}"></span></br>
  Factory Operation:<span id="FactoryOpState" th:text="${factoryOperationState}"></span></br>
  Machine List:</br>

  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">McId</th>
        <th scope="col">McName</th>
        <th scope="col">Value</th>
        <th scope="col">State</th>
        <th scope="col">Fatal</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="e : ${pageObj}">
        <td><span th:text="${e.mid}"></span></td>
        <td><a th:href="'/production/machineDetail/'+${e.mid}" th:text="${e.name}"></a></td>
        <td><span th:text="${e.recentData}"></span></td>
        <td><span th:text="${e.state}"></span></td>
        <td><span th:text="${e.fatal}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<button onclick="location.href ='/production/machineRegistration'">기계 등록</button>
  <button onclick="location.href ='/production/factoryManagement'">공장 관리</button>-->

</section>

</body>
</html>