<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout (~{::title}, '요약', 'stub 작동', '데이터 삭제', ~{::section})}"
      lang="ko">
<head>
  <title>index</title>
</head>
<body>

<section>
  MachineDetail</br>
  Machine Id:<span th:text="${machineData.mid}"></span></br>
  Machine Name:<span th:text="${machineData.name}"></span></br>
  Operation State:<span id="opState" th:text="${machineData.state}"></span><button th:onclick="doRunMachine([[${machineData.mid}]])">run</button></br>
  Fatal Error:<span th:text="${machineData.fatal}"></span></br>
  Description:</br><textarea cols="50" rows="10" th:text="${machineData.description}"></textarea></br>
  <canvas class="my-4 w-100" id="productionChart" width="1000" height="500"></canvas>
</section>

</body>
</html>