<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>

  <section>
      <template id="_preDefined">
          <slot name="flag" th:data-value="${flag}"></slot>
      </template>
      <form id="add_form" th:object="${machineStockAddData}" onsubmit="return onSubmit(event)" method="post">
          <table class="table w-100 table-bordered"  style="table-layout:fixed">
              <thead>
                <tr>
                    <td colspan="2" align="center">재고 보충</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td align="center"><span>기계 번호</span></td>
                    <td><span th:text="*{mid}"/></td>
                </tr>
                <tr>
                    <td align="center"><span>최대 재고량</span></td>
                    <td><span th:text="*{maxStock}"/></td>
                </tr>
                <tr>
                    <td align="center"><span>보충량</span></td>
                    <td><input class="w-100" type="number" name="amount" placeholder="양" th:field="*{amount}" th:value="*{amount}"/></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><button type="submit" class="btn btn-sm btn-outline-dark">추가</button></td>
                </tr>
              </tbody>
          </table>
          <input type="hidden" name="mid" placeholder="기계 번호" th:field="*{mid}" th:value="*{mid}"/>
      </form>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
          //const pd = _preDefined;
          //const flag = pd.content.querySelector("[name=flag]").dataset.value;

          function onSubmit(e){
            e.preventDefault();
            submit();
            return false;
          }

          async function submit(){
               try{
                    const response = await axios.post(location.href,{
                        mid: add_form.mid.value,
                        amount: add_form.amount.valueAsNumber
                    });
                    console.log(response.data);
                    self.close();
               } catch (error) {
                    console.error(error);
               }
          }

      </script>
  </section>
</body>
</html>