<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base_form :: layout ('machine test', 'production', ~{::section})}"
      lang="ko">
<head>
    <title>index</title>
</head>
<body>

<section>
    </br>
    <a href="http://localhost:8085">factory control page</a>done</br>
    <button onclick="doCheckFactory()">click</button>check factory connection-done</br>
    <button onclick="doStartupFactory()">click</button>run factory-done</br>
    <button onclick="doPauseFactory()">click</button>pause factory-done</br>
    <button onclick="doShutdownFactory()">click</button>stop factory-done</br>
    <button onclick="doCheckMachine0()">click</button>check Machine 0 exists-done</br>
    <button onclick="doAddMachine0()">click</button>add Machine 0-done</br>
    <button onclick="doDelMachine0()">click</button>delete Machine 0-done</br>
    <button onclick="doRunMachine0()">click</button>run Machine 0-done</br>
    <button onclick="doStopMachine0()">click</button>stop Machine 0-done</br>
    <button onclick="doCheckMcState0()">click</button>check running state of Machine 0-done</br>
    <button onclick="location.href ='/machine/getFactoryMidList'">기계 목록 호출</button>
</section>

</body>
</html>