 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="employee/subSidebar">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>test</span>
    </h6>
    <ul class="nav flex-column mb-2 mt-3">
        <li class="nav-item">
            <a class="nav-link" href="/storedItems">
                <span data-feather="file-text" class="align-text-bottom"></span>
                t
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/receiveRecords">
                <span data-feather="file-text" class="align-text-bottom"></span>
                t
            </a>
            <a class="nav-link" href="/sendRecords">
                <span data-feather="file-text" class="align-text-bottom"></span>
                t
            </a>
        </li>

    </ul>
</div>


</html>