<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout ('index', '구', '현', '중', ~{::section})}"
      lang="ko">

<body>

<section>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">department</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${list}">
                <td><a th:href="@{employee/edit/{id}(id=${e.id})}"><span th:text="${e.id}"></span></a></td>
                <td><span th:text="${e.name}"></span></td>
                <td><span th:text="${e.phoneNumber}"></span></td>
                <td><span th:text="${e.department.description}"></span></td>
            </tr>
            </tbody>
        </table>
        <nav th:with="
                    pageNumber = ${list.pageable.pageNumber},
                    pageSize = ${list.pageable.pageSize},
                    totalPages = ${list.totalPages},
                    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                    tempEndPage = ${startPage + pageSize - 1},
                    endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})" aria-label="Page navigation">

            <ul class="pagination ">
                <!-- 처음으로 이동 -->
                <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/employee(page=0)}">
                        <span class="sr-only">First</span>
                    </a>
                </li>

                <!-- 이전으로 이동 -->
                <li th:classappend="${list.first} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${list.first} ? '#' : @{/employee(page=${pageNumber - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <!-- 특정 페이지로 이동 -->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/employee(page=${page - 1})}"></a>
                </li>

                <!-- 다음으로 이동 -->
                <li th:classappend="${list.last} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="${list.last} ? '#' : @{/employee(page=${pageNumber + 1})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <!-- 마지막으로 이동 -->
                <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 < endPage} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/employee(page=${totalPages - 1})}">
                        <span class="sr-only">Last</span>
                    </a>
                </li>
            </ul>

        </nav>
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-sm-2">
                <button type="button"
                        onclick="location.href=add.html"
                        th:onclick="|location.href='@{/employee/add}'|" class="btn btn-outline-primary">직원 등록
                </button>
            </div>

            <div class="col-sm-4">
                <form action="#" th:action="@{/employee/bydepartment}" method="post" th:object="${d}">
                    <select onchange="this.form.submit()" th:field="*{departmentType}" class="w-20 p-3 form-select">
                        <option value="">부서별로 직원 조회하기</option>
                        <option th:each="departmentType : ${departments}" th:value="${departmentType}" th:text="${departmentType.description}">Test</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
