<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .container {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="container">

    <div class="list-group">
        <h3>둘러 보기</h3>
        <div class="row justify-content-center align-items-center">
            <a th:href="@{/employee}" class="list-group-item list-group-item-action">직원</a>
            <a th:href="@{/production}" class="list-group-item list-group-item-action">생산</a>
            <ul>
                <li class="list-group-item"><a th:href="@{/storedItems}">총 재고</a></li>
                <li class="list-group-item"><a th:href="@{/receiveRecords}">입고</a></li>
                <li class="list-group-item"><a th:href="@{/sendRecords}">출고</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
