<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:70vh">
            <div class="col-md-6">
                <h2>Login</h2>
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <div class="error-message m-l-4" th:if="${msg}" th:text="${msg}"></div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>